body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background: #1a1a1a;
    margin: 0;
    color: #fff;
    font-family: Arial, sans-serif;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.glass-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    overflow: hidden;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2), 0 0 10px rgba(255, 255, 255, 0.3);
    animation: fadeIn 2s ease-out;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto;
}

.profile-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes fadeInProfile {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


.glass-content {
    color: #ffdf80;
    width: 100%;
    flex-grow: 1;
    padding-top: 60px; /* Adjusted to ensure profile picture is fully inside the box */
    box-sizing: border-box;
    overflow-y: auto;
    text-align: left;
}

.glass-content h1, .glass-content h3, .glass-content p {
    margin: 0;
    margin-bottom: 10px;
}

.glass-content p {
    font-size: 14px;
    opacity: 0.8;
}

@keyframes sideAnimation {
    0% { transform: translateX(-50%) translateY(-50%) rotate(0deg); }
    50% { transform: translateX(-50%) translateY(-50%) rotate(180deg); }
    100% { transform: translateX(-50%) translateY(-50%) rotate(360deg); }
}

.glass-container::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    border-radius: 15px;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    animation: sideAnimation 5s infinite linear;
    pointer-events: none;
}

@media (min-width: 600px) {
    .glass-container {
        width: 80%;
    }

    .glass-container.large {
        height: 550px; /* Increased height for the first box */
    }

    .glass-container.small {
        height: 450px; /* Adjusted height for the second box */
    }
}

@media (max-width: 599px) {
    .glass-container {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .glass-container.large,
    .glass-container.small {
        height: auto; /* Allow height to adjust based on content */
    }

    .glass-content {
        padding-top: 80px; /* Adjust padding for smaller screens */
    }

    .profile-picture-container {
        top: -30px; /* Adjust position for smaller screens */
        right: 10px; /* Adjust right position for smaller screens */
        width: 70px;
        height: 70px;
    }
}
